/******************************************************************************************************
                             
      File Name          : Style_595.css            
      Description        : StyleSheet page
      Author(s)          : Baskaran V, Punith Kumar K          
      Date Created       : 10/07/2014                       
      Date Modified      : 10/07/2014                      
      Revision History   :                               
      Last Reviewed by   :  DD/MM/YYYY                       
      Last date of review:  DD/MM/YYYY
           
******************************************************************************************************/

@charset "utf-8";
@charset "utf-8";
/* CSS Document */

/************************************************************************************
smaller than 595
*************************************************************************************/

@media screen and (max-width: 595px) {

.OuterContainer {width:87%; position:absolute; text-align:center;}

.Usernametext_OuterContainer {padding:0px 20px 7px 15px;}

.LoginBox{
	min-width:50px;
	display:table;
	width:100%;
}

}
